<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>Hi <%= @form_name %>! </p>
<p>Time is now: <%= @time.strftime("%I") %>:<%= @time.strftime("%M") %>:<%= @time.strftime("%S") %> <%= @time.strftime("%p") %></p>
