<%= link_to("<< Back to List", enrolls_path, :class => 'back-link') %>

<div class="enrolls edit">
  <h2>Update Enrollment</h2>

  <%= form_for(@enroll) do |f| %>
    <table summary="Enrollment form fields">
      <tr>
        <th>Student ID</th>
        <td><%= f.text_field(:student_id) %></td>
      </tr>
      <tr>
        <th>Course ID</th>
        <td><%= f.text_field(:course_id) %></td>
      </tr>
      <tr>
        <th>Percentage</th>
        <td><%= f.text_field(:percentage) %></td>
      </tr>
      <tr>
        <th>Grade</th>
        <td><%= f.text_field(:lettergrade) %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Update Enrollment") %>
    </div>
  <% end %>
</div>
