
<%= stylesheet_link_tag "enrolls" %>

<div class="enrolls index">
  <h2>Enrollments</h2>

  <%= link_to("Add New Enrollment", new_enroll_path, :class => 'action new') %>

  <table class="listing" summary="Enrollment list">
    <tr class="header">
      <th>StudentID</th>
      <th>CourseID</th>
      <th>Percentage</th>
      <th>Grade</th>
      <th>Function</th>
    </tr>

    <% @enrolls.each do |enroll| %>
    <tr>
      <td><%= enroll.student_id %></td>
      <td><%= enroll.course_id %></td>
      <td><%= number_with_precision(enroll.percentage, precision: 2) %></td>
      <td><%= enroll.lettergrade %></td>
      <td class="actions">
        <%= link_to("View", enroll_path(enroll), :class => 'action show') %>
        <%= link_to("Edit", edit_enroll_path(enroll), :class => 'action edit') %>
        <%= link_to("Delete", delete_enroll_path(enroll), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

  <p></p>
  <%= link_to("All Students", students_path) %>
  <%= link_to("All Courses", courses_path) %>

</div>
