<%= stylesheet_link_tag "enrolls" %>

<%= link_to("<< Back to List", enrolls_path, :class => 'back-link') %>

<div class="enroll show">
  <h2>Show Enrollment</h2>

  <table summary="Enrollment detail view">
    <tr>
      <th>Student ID</th>
      <td><%= @enroll.student_id %></td>
    </tr>
    <tr>
      <th>Course ID</th>
      <td><%= @enroll.course_id %></td>
    </tr>
    <tr>
      <th>Percentage</th>
      <td><%= number_with_precision(@enroll.percentage, precision: 2) %></td>
    </tr>
    <tr>
      <th>Grade</th>
      <td><%= @enroll.lettergrade %></td>
    </tr>
  </table>

</div>
