<%= stylesheet_link_tag "students" %>

<div class="students index">
  <h2>Students</h2>

  <%= link_to("Add New Student", new_student_path, :class => 'action new') %>

  <table class="listing" summary="Student list">
    <tr class="header">
      <th>StudentID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Function</th>
    </tr>

    <% @students.each do |student| %>
    <tr>
      <td><%= student.student_id %></td>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td class="actions">
        <%= link_to("View", student_path(student), :class => 'action show') %>
        <%= link_to("Edit", edit_student_path(student), :class => 'action edit') %>
        <%= link_to("Delete", delete_student_path(student), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

  <p></p>
  <%= link_to("All Courses", courses_path) %>
  <%= link_to("All Enrollments", enrolls_path) %>

</div>
